// Import page-specific CSS files here.
@import "home";
@import "plants_show";
@import "sessions_new";
@import "cart";
@import "thanks";

.column{
  width: 50%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
