// Import page-specific CSS files here.
@import "home";

.sidebar {
  width: 300px;
  position: fixed;
  padding-top: 40px;
  background-color: lightblue;
  }

  .sidebar div {
  padding: 8px;
  font-size: 24px;
  display: block;
  }

  .mainpanel {
  padding-top: 40px;
  margin-left: 350px;
  font-size: 18px;
  }
