.show-plants-grid {
  display: grid;
  grid-template-columns: 1fr 8fr 4fr;
}

// TO DO: Make a nice notice
.notice {
  padding: 20px;
  background-color: rgba(63, 194, 118, 1);
  color: white;
  font-weight: bold;
}
