.show-plants-grid {
  display: grid;
  grid-template-columns: 1fr 8fr 4fr;
  // margin: 24px;
}

#hard_id {
  padding-top: 24px;
}


// TO DO: Make a nice notice
.notice {
  padding: 20px;
  background-color: rgba(63, 194, 118, 1);
  color: white;
  font-weight: bold;
}

.preview_image {
  cursor: pointer;
  margin-bottom: 20px;
}

.plant-show-container {
  margin-left: 40px;
  margin-right: 40px;
}

.show-plants-grid__image-container {
  margin-right: 20px;
  padding-top: 24px;
}


.image-preview-container {
  display: flex;
  flex-direction: column;
  min-width: 80px;
}
