.show-plants-grid {
  display: grid;
  grid-template-columns: 1fr 8fr 4fr;
  // margin: 24px;
}

#hard_id {
  padding-top: 24px;
}


// TO DO: Make a nice notice
.notice {
  padding: 20px;
  background-color: rgba(63, 194, 118, 1);
  color: white;
  font-weight: bold;
}

.preview_image {
  cursor: pointer;
}
