<div class="image-container">
  <% if plant.photos.attached? %>
    <% plant.photos.each do |photo| %>
      <img src="<%= cl_image_path photo.key, crop: :fill %>"class= "d-block w-100" alt="">
    <% end %>
  <% else %>
    <%= image_tag "plant1", class:"d-block w-100" %>
    <%= image_tag "plant2", class:"d-block w-100" %>
  <% end %>
</div>
