
      <%= simple_form_for([plant, purchase]) do |f| %>
      <div class="flex-between">
        Cuttings:
        <div class="actions">
          <a id="minus" data-action="purchase-controls#increment" class="btn round-bordered incrementer minus" data-offset="-1">-</a>
          <div class='neg-margin'>
            <%# <input data-purchase-controls-target="counter" data-count="1" id='form-number' type="number" value='1'> %>
            <%= f.input :quantity_purchased, id:'form-number', label: false, input_html: { data: { purchase_controls_target: 'counter' }, class: "form-number", value:'1' }, data_count:"1" %>
          </div>
          <a id="plus" data-action="purchase-controls#increment" class="btn round-bordered incrementer" data-offset="1">+</a>
        </div>
      </div>
      <%= f.submit "Pay #{plant.price_per_clipping}", class: "btn btn-primary", data: { purchase_controls_target: 'price', action: 'toaster#addToCart' } %>
      <% end %>
