<div class="sidebar">
  <h3>Refine your search</h3>
</div>

<div class="mainpanel">
  <% @plants.each do |plant| %>
    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <h2><%= plant.title %></h2>
        <p><%= plant.description %></p>
        <strong><%="£#{plant.price_per_clipping}/per clipping"%></p></strong><p>
      </div>
    </div>
  <% end %>
</div>
