<div class="container">
  <div class="show-plants-grid">
    <div class="show-plants-grid__image-container d-flex flex-column">
      <%= render "plant_image_previews", plant: @plant %>
    </div>
    <div class="show-plants-grid__carousel-container">
      <%= render "plant_carousel", plant: @plant %>
    </div>
    <div class="show-plants-grid__details-container">
      <%= render "details_card", plant: @plant %>
<<<<<<< HEAD
=======
    </div>
  </div>
  <%= button_to 'Add to Cart', plant_purchases_path(@plant) %>
>>>>>>> master


</div>
