<div class="container pb-8">
 <div class="row justify-content-between">
  <div class="show-plants-grid">
    <div class="show-plants-grid__image-container d-flex flex-column">
      <p id="hard_id">Browse pictures</p>
      <%= render "plant_image_previews", plant: @plant %>
    </div>
    <div class="show-plants-grid__carousel-container m-4">
      <%= render "plant_carousel", plant: @plant %>
    </div>
    <div class="show-plants-grid__details-container m-4">
      <%= render "details_card", plant: @plant %>
    </div>
  </div>
  </div>
</div>
