<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<!-- To check if we can get toastr to work
<% if flash[:notice] %>
  <script type="text/javascript">
  toastr.success('Plant created')
  </script>
  <% end %>
-->


<div class="container">
  <div class="show-plants-grid">
    <div class="show-plants-grid__image-container d-flex flex-column">
      <%= render "plant_image_previews", plant: @plant %>
    </div>
    <div class="show-plants-grid__carousel-container">
      <%= render "plant_carousel", plant: @plant %>
    </div>
    <div class="show-plants-grid__details-container">
      <%= render "details_card", plant: @plant %>
    </div>
  </div>
</div>
