.nav-item-cart {
  position: relative;
  margin-right: 12px;
  .cart_count {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 0.5rem;
    background-color: $darkgreen;
    color: $white;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    display: flex;
    justify-content: center;
    align-content: center;
  }
}
