.navbar-lewagon {
  background: $cream;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 90px;
}

.navbar{
  border-bottom: 5px solid $darkgreen;
  padding-bottom: 16px;
}

.container-fluid{
  justify-content: space-between;
}

.form_width{
  width: 600px;
}
