// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "config/variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "mapbox-gl/dist/mapbox-gl";
@import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder";
@import "toastr/toastr";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background: $cream; // Using this variable
  color: $darkgreen;
}

.home-wrapper {
  min-height: calc(100vh - 60px);
}


.btn {
  background-color: $darkgreen !important;
  color: $white;
  border-radius: 16;
}

.btn:hover {
  color: $light-green;
}

.h1 {
  color: $darkgreen !important;
  font-size: 30px;
  font-family: $headers-font ;
}

.p {
  font-family: $body-font;
}
