<div class="container pb-8"></div>
<h1>We received your order. Thank You</h1>
<h2>Thanks, you paid <strong><%= pretty_amount(@amount) %></strong>!</h2>



<%= link_to 'Continue Shopping', plants_path, class:"btn btn-primary" %>
